<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <!-- Link to your CSS file (style.css) for styling -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="login-container">
        <h2>Reset Password</h2>
        <form class="login-form" method="post" action="/user/resetPassword">
            <div class="form-group">
                <label for="password">New Password:</label>
            </div>
            <input type="password" id="newPassword" name="newPassword"  style="padding: 5%;" required>

            <div class="form-group">
                <label for="confirm-password">Confirm Password:</label>
            </div>
            <input type="password" id="confirmPassword" name="confirmPassword"  style="padding: 5%;">

            <button class="reset-password-button login-button" type="submit" style="margin-top: 5%;">Reset Password</button>
            <a href="/home" class="login-button"  style="width: 90%; margin-top: 5%; background-color: red;">Cancel</a>

        </form>
        <div style="width: 100%; margin-top: 5%">
    </div>
    </div>
    <script>
     const resetPasswordForm = document.querySelector('.login-form');
        resetPasswordForm.addEventListener('submit', async (e) => {
            e.preventDefault();

            const newPassword = document.querySelector('#newPassword').value;
            const confirmPassword = document.querySelector('#confirmPassword').value;
           const email= localStorage.getItem("userEmail");
            if (newPassword !== confirmPassword) {

                alert('Passwords do not match. Please try again.'+newPassword+""+confirmPassword);
                return;
            }

            try {
                const response = await fetch('/user/resetPassword', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ newPassword,confirmPassword ,email}),
                });

                if (response.status === 200) {
                    // Password reset successful, you can handle the redirection here
                    alert('Password reset successful. You can now log in with your new password.');
                    window.location.href = '/'; // Redirect to the login page
                } else if (response.status==400){
                    console.error(response.error);
                    // Handle other response statuses as needed
                    alert('Password reset failed. Please try again.'+newPassword+confirmPassword);
                }else{
                   // alert(response.body.message);
                    // Handle other response statuses as needed
                    alert('Password reset failed. Please try again.');
                }
            } catch (error) {
                console.error(error);
                alert('An error occurred. Please try again later.');
            }
        });
    </script>
</body>
</html>
